
<div class="container">

	<div class="header">
		<h1><center><b>What is RORPAP?</b></center></h1>
	</div>

	<div class="center promo">
	  <i class="material-icons" style="margin: 40px 0; color: #ee6e73; font-size: 7rem; display: block">flash_on</i>
  	</div>
	<h3 class="col s12 light center header">Coming soon...</h3>

	<!--
	<div class="row">
		<div class="item col-md-4" ng-repeat="about in abouts">
			<img ng-src="{{ about.url }}">
			<p class="about-content">{{ about.contents }}</p>
		</div>
	</div>
	-->
</div>

<!--
<div class="about">
	<div class="container">
		<img ng-src="{{ photo.url }}">
		<p class="about-detail">{{ scope.contents }}</p>
	</div>
</div>
-->
