<div class="row">
	<br>
	<div class="container col l7 m12 s12">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">Location <font size="2">Select your route</font></span>
				<a class="btn right" ng-click="clearDirection()">clear</a>
				<div class="card">
					<div class="card-content">						
						<label>Scope</label>
						<p class="range-field">
					      <input type="range" id="scope_input" ng-model="filter.scope" min="0" max="5000" step="50" ng-change="callNop()"/>
					    </p>					
					</div>					
				</div>				
				<ng-map center="{{map.center}}" zoom="{{map.zoom}}" 
						zoom-to-include-markers="{{map.zoomToIncludeMarkers}}" 
						style="height: 80vh" on-click="addMarker(event)">
					<marker ng-repeat="marker in markerO" position="{{marker.pos}}"
					optimized="{{marker.optimized}}" icon="{{marker.icon}}"></marker>
					<marker id="marker{{$index}}" ng-repeat="marker in markers" 
							position="{{marker.pos}}" icon="{{marker.icon}}"
							optimized="{{marker.optimized}}"></marker>
					<directions
						draggable="true"						
			          	travel-mode="DRIVING"
			          	origin="{{origin}}"
			          	destination="{{des}}">
			        </directions>

				</ng-map>				
			</div>
		</div>
	</div>

	<div class="col l5 m12 s12">		
		<div id="filter" class="card filter" ng-show="showFilter">
			<form class="card-content" name="findRequestForm" id="findRequestForm" action="#">
				<div class="input-field">
					<label>Price</label><br><br>
					<div id="price-input"></div>
					<p>&nbsp;</p>
				</div>
				<div class="input-field">
					<label>Weight</label><br><br>						
					<div id="weight-input"></div>
					<p>&nbsp;</p>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<label class="active" for="fromDate">Start</label>
						<input type="date" id="fromDate" ng-model="filter.fromDate" datepicker />
					</div>
					<div class="input-field col s6">
						<label class="active" for="toDate">End</label>
						<input type="date" id="toDate" ng-model="filter.toDate" datepicker />
					</div>
				</div>				
			</form>
		</div>		
		<center><a class="btn-floating wave pull-left" ng-click="showFilter = !showFilter">
			<i class="material-icons">view_list</i>
		</a></center>	
		
		<ul class="collapsible popout" data-collapsible="accordion">
			<li ng-if="filted($index)" id="arequest{{$index}}" class="request" style="margin: 10px 0" ng-repeat="request in requests | orderBy:['-_id']">				
				<div class="collapsible-header" style="padding: 1vw" ng-style="{'background-color': reqBackground(request.type)}" ng-click="showInMap($index)">
					<div class="row" style="margin-bottom: 0px">

						<div class="col m4 s12 hide-on-small-and-down">
							<div style="background-color: white; padding: 5px; border-style: solid">
								<img ng-src="{{request.pimg.url}}" width="100%" height="120px">
								<div ng-if="request.declarable" style="position: relative">
									<img src="images/parcels/green_box.png" width="45px" height="33px" style="position: absolute; right: 1px; bottom: 5px">
								</div>											
							</div>	
						</div>

						<div class="col m8 s12 row" style="margin-bottom: 0px; padding: 0">		
							<div class="hide-on-med-and-up col s12 row" style="margin-bottom: 0px">
								<div class="col s3" style="padding: 0">
									<h6 style="text-align: right">To:</h6>
									<h6 style="text-align: right">Email:</h6>
									<h6 style="text-align: right">Tel:</h6>
								</div>
								<div class="col s9">
									<h6 style="text-align: left"><b>{{request.recipient_name}}</b></h6>
									<h6 style="text-align: left">{{request.recipient_email}}</h6>
									<h6 style="text-align: left">{{request.recipient_tel}}</h6>
								</div>								
							</div>
							<div class="hide-on-small-only col s12 row">		
								<div class="col s3"  style="padding: 0">
									<h5 style="text-align: right">To:</h5>
									<h5 style="text-align: right">Email:</h5>
									<h5 style="text-align: right">Tel:</h5>
								</div>
								<div class="col s9">
									<h5 style="text-align: left"><b>{{request.recipient_name}}</b></h5>
									<h5 style="text-align: left">{{request.recipient_email}}</h5>
									<h5 style="text-align: left">{{request.recipient_tel}}</h5>
								</div>								
							</div>					
							<div class="container hide-on-med-and-up" style="clear: both">
								<img ng-if="request.declarable" class="right" src="images/parcels/green_box.png" width="45px" height="33px" style="right: 1px; bottom: 5px">
								<span class="chip right">
									{{request.pimg.name}}
								</span>										
							</div>
						</div>
					</div>
				</div>

				<div class="collapsible-body" style="background-color: #F8F8F8; text-align: left">
					<div class="row" style="padding: 10px">
						<div class="col s8 m8">
							<span class="chip">
								<i class="material-icons">event</i>
								{{request.shipLimitDate}}
							</span>
							<span class="chip">
								<i class="material-icons">schedule</i>
								{{request.shipLimitHour}}:{{request.shipLimitTime}}
							</span>
							<div style="margin-bottom: 5px; margin-left: 5px">								
								<h6>
									{{request.reqLimitDate}} {{request.reqLimitTime}}
								</h6>
								<h6>
									Sender
									<a href="#!/profile_other" ng-click="seeUser(request.sender)">{{request.sender.firstname}} {{request.sender.lastname}}</a>
								</h6>									
								<h6>Dimension: {{request.size_w}} x {{request.size_l}} x {{request.size_h}} cm</h6>
								<h6>Weight: {{request.weight}} kg</h6>
								Comment: {{request.comment}}
							</div>
						</div>

						<div class="col s4 m4 right green-text" style="text-align: right"><h5>{{request.price}} Baht</h5></div>

						<div class="col m12 s12" ng-if="request.type == 'Pending'">
							<span class="right">
								<a class="btn" style="background-color: #e51c23" ng-click="openModal($index)">Accept</a>
							</span>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div id="modalAccept" class="modal" style="width: 280px; height: 260px">
	  <div class="modal-content" style="padding: 0px">
	  	<form name="acceptForm">	  		
		  	<div class="col s12">
					<label for="appoinmentDate">Transfer Date</label>
					<input type="date" id="appoinmentDate" ng-model="accept.date_t" datepicker required>
				</div>
				<div class="col s12">
					<label>Transfer Time</label>
					<div class="row">
						<div class="col s5">
							<select id="appoinmentHour" class="browser-default" ng-model="accept.hour" required>
								<option value="" disabled selected>Hour</option>
								<option ng-repeat="hour in hours" value="{{hour}}">{{hour}}</option>
							</select>
						</div>
						<div class="col s1"><font size="3"> : </font></div>
						<div class="col s5">
							<select id="appoinmentMinutes" class="browser-default" ng-model="accept.min" required>
								<option value="" disabled selected>Min</option>
								<option ng-repeat="min in mins" value="{{min}}">{{min}}</option>
							</select>
						</div>
					</div>				
				</div>
				<center>
					<button id="acceptBtn" type="submit" class="btn btn-default" style="background-color: #ffa338" ng-click="acceptRequest()" ng-disabled="acceptForm.$invalid">Accept</button>
				</center>	
			</form>			
	  </div>
	</div>	
</div>