<div id="index-banner" style="height:80vh; min-height: 500px; background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('images/index_banner.jpg'); background-size: cover;  background-position: center center;">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br><br>
      <h1 class="header center white-text hide-on-small-only">Start a new Shipment</h1>
      <h3 class="header center white-text hide-on-med-and-up">Start a new Shipment</h3>
      <div class="row center">
        <h5 class="header col s12 light white-text">Select a destinaton for your shipping on the map</h5>
      </div>
      <br>
      <div class="row center">
        <a href="#!/newrequest" class="waves-effect waves-light btn" style="background-color: #ffa337">Get Start</a>
      </div>
      <br><br>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="card row center">
    <div class="card-image col s12 hide-on-med-and-up" style="padding: 0 0; background-image: url(images/messenger.jpg); background-size: cover; min-height: 250px; background-position: center top; background-repeat: no-repeat">
        <br>
        <h5 class="white-text">Track your Shipment</h5>
        <div class="input-field white-text container">
          <input id="track_request_sm" placeholder="Request No." type="text" class="white-text" ng-model="tracking_no">
      </div>        
        <br>
        <center><a href="#!/trackrequest" class="waves-effect waves-light btn center" style="background-color: #ffa337" ng-click="setTrackingRequest()">Track</a></center>
        <br>  
    </div>
    <div class="card-image col s12 m7 hide-on-small-only" style="padding: 0 0">
      <img src="images/messenger.jpg">
    </div>
    <div class="col s12 m5 hide-on-small-only" style="text-align: left; padding: 0 2vw">
      <h5>Track your Shipment</h5>
      <div class="input-field">
          <input id="track_request" type="text" placeholder="Request No." ng-model="tracking_no">
      </div>      
      <center><a href="#!/trackrequest" class="waves-effect waves-light btn center" style="background-color: #ffa337" ng-click="setTrackingRequest()">Track</a></center>
    </div>
  </div>
</div>
<br>
<div class="container" style="width: 90%">
  <div class="row">
    <div class="col s12 m6 l4" style="overflow: hidden; margin-bottom: 20px" ng-repeat="image in images">      
      <div style="padding: 0 0; background-image: url({{image}}); background-size: cover; height: 300px; background-position: center top; background-repeat: no-repeat">
      </div>
  </div>
</div>