<div class="center row" style="width: 85%; margin: 0 auto">
	<br>
	<div class="card col s1">
		<a id="findrequest" href="#!/findrequest" style="text-decoration: none">
			<i class="material-icons" style="font-size: 2rem; height:100%; line-height:48px">search</i>
		</a>
	</div>
	<div class="col s10">
		<div class="card">
			<ul class="tabs" id="page_tabs">
				<li class="tab col s4"><a ng-click="reRednerMap()" id="tab_accepted" href="#accepted">Accepted</a></li>
				<li class="tab col s4"><a ng-click="reRednerMap()" id="tab_inprogress" href="#inprogress" class="active">Inprogress</a></li>
				<li class="tab col s4"><a ng-click="reRednerMap()" id="tab_history" href="#history">History</a></li>
			</ul>
		</div>
		<div class="card" style="min-height: 300px">
			<div id="accepted" class="row" ng-controller="AcceptedController">
				<div class="col l6 s12">
					<ul class="collapsible popout" data-collapsible="accordion">
						<li id="arequest{{$index}}" class="request" style="margin: 10px 0" ng-repeat="request in requests | orderBy:['-_id']">

							<div class="collapsible-header" style="padding: 1vw" ng-style="{'background-color': reqBackground(request.type)}" ng-click="showInMap($index)">
								<div class="row" style="margin-bottom: 0px">

									<div class="col m4 s12 hide-on-small-and-down">
										<div style="background-color: white; padding: 5px; border-style: solid">
											<img ng-src="{{request.pimg.url}}" width="100%" height="120px">
											<div ng-if="request.declarable" style="position: relative">
												<img src="images/parcels/green_box.png" width="45px" height="33px" style="position: absolute; right: 1px; bottom: 5px">
											</div>
										</div>
									</div>

									<div class="col m8 s12 row" style="margin-bottom: 0px; padding: 0">
										<div class="hide-on-med-and-up col s12 row" style="margin-bottom: 0px">
											<div class="col s3" style="padding: 0">
												<h6 style="text-align: right">To:</h6>
												<h6 style="text-align: right">Email:</h6>
												<h6 style="text-align: right">Tel:</h6>
											</div>
											<div class="col s9">
												<h6 style="text-align: left"><b>{{request.recipient_name}}</b></h6>
												<h6 style="text-align: left">{{request.recipient_email}}</h6>
												<h6 style="text-align: left">{{request.recipient_tel}}</h6>
											</div>
											<span>
											{{request.accepto.date}} {{request.accepto.hour}}:{{request.accepto.min}}
												<a class="btn right black-text" style="background-color:  #FCFCFC" ng-click="openModal($index)">Edit</a>
											</span>
										</div>
										<div class="hide-on-small-only col s12 row">
											<div class="col s3"  style="padding: 0">
												<h5 style="text-align: right">To:</h5>
												<h5 style="text-align: right">Email:</h5>
												<h5 style="text-align: right">Tel:</h5>
											</div>
											<div class="col s9">
												<h5 style="text-align: left"><b>{{request.recipient_name}}</b></h5>
												<h5 style="text-align: left">{{request.recipient_email}}</h5>
												<h5 style="text-align: left">{{request.recipient_tel}}</h5>
											</div>
											<span>
											{{request.accepto.date}} {{request.accepto.hour}}:{{request.accepto.min}}
												<a class="btn right black-text" style="background-color:  #FCFCFC" ng-click="openModal($index)">Edit</a>
											</span>
										</div>
										<div class="container hide-on-med-and-up" style="clear: both">
											<img ng-if="request.declarable" class="right" src="images/parcels/green_box.png" width="45px" height="33px" style="right: 1px; bottom: 5px">
											<span class="chip right">
												{{request.pimg.name}}
											</span>
										</div>
									</div>
								</div>
							</div>

							<div class="collapsible-body" style="background-color: #F8F8F8; text-align: left">
								<div class="row" style="padding: 10px">
									<div class="col s8 m8">
										<span class="chip">
											<i class="material-icons">event</i>
											{{request.shipLimitDate}}
										</span>
										<span class="chip">
											<i class="material-icons">schedule</i>
											{{request.shipLimitHour}}:{{request.shipLimitTime}}
										</span>
										<div style="margin-bottom: 5px; margin-left: 5px">
											<h6>
												Sender
												<a href="#!/profile_other" ng-click="seeUser(request.sender)">{{request.sender.firstname}} {{request.sender.lastname}}</a>
											</h6>
											<h6>Dimension: {{request.size_w}} x {{request.size_l}} x {{request.size_h}} cm</h6>
											<h6>Weight: {{request.weight}} kg</h6>
											Comment: {{request.comment}}
										</div>
									</div>

									<div class="col s4 m4 right green-text" style="text-align: right"><h5>{{request.price}} Baht</h5></div>
									<div class="col m12 s12">
										<span class="right">
											<a id="acancel{{$index}}" class="btn" style="background-color: #e51c23" ng-click="removeAccept($index)">Cancel</a>
										</span>
									</div>
								</div>
							</div>

						</li>

					</ul>
				</div>

				<div class="right col l6 s12">
					<div class="row">
						<div class="col s12 m12">
							<div class="card blue-grey darken-1">
								<div class="card-content white-text">
									<span class="card-title">Location</span>
									<ng-map center="{{map.center}}" zoom="{{map.zoom}}">
										<marker id="marker_f" position="{{marker_from.position}}"
										optimized="{{marker_from.optimized}}"
										icon="{{marker_from.icon}}"
										visible="{{marker_from.visible}}"></marker>

										<marker id="marker_t" position="{{marker_to.position}}"
										optimized="{{marker_to.optimized}}"
										icon="{{marker_to.icon}}"
										visible="{{marker_to.visible}}"></marker>
									</ng-map>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="modalAccept" class="modal" style="width: 280px; height: 260px">
					<div class="modal-content" style="padding: 0px">
						<form name="acceptForm">
							<div class="col s12">
								<label for="appoinmentDate">Pick Up Date</label>
								<input type="date" id="appoinmentDate" ng-model="accept.date_t" datepicker required>
							</div>
							<div class="col s12">
								<label>Pick Up Time</label>
								<div class="row">
									<div class="col s5">
										<select id="appoinmentHour" class="browser-default" ng-model="accept.hour" required>
											<option value="" disabled selected>Hour</option>
											<option ng-repeat="hour in hours" value="{{hour}}">{{hour}}</option>
										</select>
									</div>
									<div class="col s1"><font size="3"> : </font></div>
									<div class="col s5">
										<select id="appoinmentMinutes" class="browser-default" ng-model="accept.min" required>
											<option value="" disabled selected>Min</option>
											<option ng-repeat="min in mins" value="{{min}}">{{min}}</option>
										</select>
									</div>
								</div>
							</div>
							<center>
								<button id="acceptBtn" type="submit" class="btn btn-default" style="background-color: #ffa338" ng-click="editTime()" ng-disabled="acceptForm.$invalid">Save</button>
							</center>
						</form>
					</div>
				</div>
			</div>


			<div id="inprogress" class="row" ng-controller="InProgressQuestController">
				<div class="col l6 s12">
					<ul class="collapsible popout" data-collapsible="accordion">
						<li id="irequest{{$index}}" class="request" style="margin: 10px 0" ng-repeat="request in requests | orderBy:['-type','-_id']">

							<div class="collapsible-header" style="padding: 1vw" ng-style="{'background-color': reqBackground(request.type)}" ng-click="showInMap($index)">
								<div class="row" style="margin-bottom: 0px">

									<div class="col m4 s12 hide-on-small-and-down">
										<div style="background-color: white; padding: 5px; border-style: solid">
											<img ng-src="{{request.pimg.url}}" width="100%" height="120px">
											<div ng-if="request.declarable" style="position: relative">
												<img src="images/parcels/green_box.png" width="45px" height="33px" style="position: absolute; right: 1px; bottom: 5px">
											</div>
										</div>
									</div>

									<div class="col m8 s12 row" style="margin-bottom: 0px; padding: 0">
										<div class="hide-on-med-and-up col s12 row" style="margin-bottom: 0px">
											<div class="col s3" style="padding: 0">
												<h6 style="text-align: right">To:</h6>
												<h6 style="text-align: right">Email:</h6>
												<h6 style="text-align: right">Tel:</h6>
											</div>
											<div class="col s9">
												<h6 style="text-align: left"><b>{{request.recipient_name}}</b></h6>
												<h6 style="text-align: left">{{request.recipient_email}}</h6>
												<h6 style="text-align: left">{{request.recipient_tel}}</h6>
											</div>
											<span ng-if="request.type == 'Reserved'">
												{{request.appointDate}} {{request.appointTime}}
												<a id="send{{$index}}" class="btn" style="background-color: #50C625; text-transform: none" ng-click="typeSendingToken($index)">Send</a>
											</span>
											<span ng-if="request.type == 'Inprogress'" class="btn right" style="background-color: #50C625" ng-click="typeFinishToken($index)">Finish</span>
										</div>
										<div class="hide-on-small-only col s12 row">
											<div class="col s3"  style="padding: 0">
												<h5 style="text-align: right">To:</h5>
												<h5 style="text-align: right">Email:</h5>
												<h5 style="text-align: right">Tel:</h5>
											</div>
											<div class="col s9">
												<h5 style="text-align: left"><b>{{request.recipient_name}}</b></h5>
												<h5 style="text-align: left">{{request.recipient_email}}</h5>
												<h5 style="text-align: left">{{request.recipient_tel}}</h5>
											</div>
											<span ng-if="request.type == 'Reserved'">
												{{request.appointDate}} {{request.appointTime}}
												<a id="send{{$index}}" class="btn" style="background-color: #50C625; text-transform: none" ng-click="typeSendingToken($index)">Send</a>
											</span>
											<span ng-if="request.type == 'Inprogress'" class="btn right" style="background-color: #50C625" ng-click="typeFinishToken($index)">Finish</span>
										</div>
										<div class="container hide-on-med-and-up">
											<img ng-if="request.declarable" class="right" src="images/parcels/green_box.png" width="45px" height="33px" style="right: 1px; bottom: 5px">
											<span class="chip right">
												{{request.pimg.name}}
											</span>
										</div>
									</div>
								</div>
							</div>

							<div class="collapsible-body" style="background-color: #F8F8F8; text-align: left">
								<div class="row" style="padding: 10px">
									<div class="col s8 m8">
										<span class="chip">
											<i class="material-icons">event</i>
											{{request.shipLimitDate}}
										</span>
										<span class="chip">
											<i class="material-icons">schedule</i>
											{{request.shipLimitHour}}:{{request.shipLimitTime}}
										</span>
										<div style="margin-bottom: 5px; margin-left: 5px">
											<h6>
												Sender
												<a href="#!/profile_other" ng-click="seeUser(request.sender)">{{request.sender.firstname}} {{request.sender.lastname}}</a>
											</h6>
											<h6>Dimension: {{request.size_w}} x {{request.size_l}} x {{request.size_h}} cm</h6>
											<h6>Weight: {{request.weight}} kg</h6>			Comment: {{request.comment}}
										</div>
									</div>

									<div class="col s4 m4 right green-text" style="text-align: right"><h5>{{request.price}} Baht</h5></div>

									<div class="col m12 s12">
										<span class="right">
											<a id="rcancel{{$index}}" class="btn" style="background-color: #e51c23" ng-if="request.type == 'Reserved'" ng-click="cancelReserved($index)">Cancel</a>
										</span>
									</div>
								</div>
							</div>

						</li>

					</ul>
				</div>

				<div class="right col l6 s12">
					<div class="row">
						<div class="col s12 m12">
							<div class="card blue-grey darken-1">
								<div class="card-content white-text">
									<span class="card-title">Location</span>

									<ng-map center="{{map.center}}" zoom="{{map.zoom}}">
										<marker id="marker_f" position="{{marker_from.position}}"
										optimized="{{marker_from.optimized}}"
										icon="{{marker_from.icon}}"
										visible="{{marker_from.visible}}"></marker>

										<marker id="marker_t" position="{{marker_to.position}}"
										optimized="{{marker_to.optimized}}"
										icon="{{marker_to.icon}}"
										visible="{{marker_to.visible}}"></marker>

										<shape ng-if="trackable"
										name="polyline"
										path="{{ path }}"
										geodesic="true"
										stroke-color="#FF0000"
										stroke-opacity="1.0"
										stroke-weight="3">
										</shape>
									</ng-map>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="modalTSendingToken" class="modal" style="width: 280px">
				  <div class="modal-content">
				      <div class="input-field">
				      	<input id="sendToken" type="password" class="validate" ng-model="sendingToken">
				      	<label for="sendToken">Sending Token</label>
				      </div>
				      <center><a class="btn" style="background-color: #e51c23" ng-click="submitSendingToken()">Submit</a></center>
				  </div>
				</div>
				<div id="modalTFinishToken" class="modal" style="width: 280px">
				  <div class="modal-content">
				      <div class="input-field">
				      	<input id="finishToken" type="password" class="validate" ng-model="finishToken">
				      	<label for="finishToken">Finish Token</label>
				      </div>
				      <center><a class="btn" style="background-color: #e51c23" ng-click="submitFinishToken()">Submit</a></center>
				  </div>
				</div>
			</div>

			<div id="history" class="row" ng-controller="HistoryQuestController">
				<div class="col l6 s12">
					<ul class="collapsible popout" data-collapsible="accordion">
						<li id="hrequest{{$index}}" class="request" style="margin: 10px 0" ng-repeat="request in requests | orderBy:['-_id']">

							<div class="collapsible-header" style="padding: 1vw; text-align: left" ng-style="{'background-color': reqBackground(request.type)}" ng-click="showInMap($index)">
								<div class="row" style="margin-bottom: 0px">

									<div class="col m4 s12 hide-on-small-and-down">
										<div style="background-color: white; padding: 5px; border-style: solid">
											<img ng-src="{{request.pimg.url}}" width="100%" height="120px">
											<div ng-if="request.declarable" style="position: relative">
												<img src="images/parcels/green_box.png" width="45px" height="33px" style="position: absolute; right: 1px; bottom: 5px">
											</div>
										</div>
									</div>

									<div class="col m8 s12 row" style="margin-bottom: 0px; padding: 0">
										<div class="hide-on-med-and-up col s12 row" style="margin-bottom: 0px">
											<div class="col s3" style="padding: 0">
												<h6 style="text-align: right">To:</h6>
												<h6 style="text-align: right">Email:</h6>
												<h6 style="text-align: right">Tel:</h6>
											</div>
											<div class="col s9">
												<h6 style="text-align: left"><b>{{request.recipient_name}}</b></h6>
												<h6 style="text-align: left">{{request.recipient_email}}</h6>
												<h6 style="text-align: left">{{request.recipient_tel}}</h6>
											</div>
										</div>
										<div class="hide-on-small-only col s12 row">
											<div class="col s3"  style="padding: 0">
												<h5 style="text-align: right">To:</h5>
												<h5 style="text-align: right">Email:</h5>
												<h5 style="text-align: right">Tel:</h5>
											</div>
											<div class="col s9">
												<h5 style="text-align: left"><b>{{request.recipient_name}}</b></h5>
												<h5 style="text-align: left">{{request.recipient_email}}</h5>
												<h5 style="text-align: left">{{request.recipient_tel}}</h5>
											</div>
										</div>
										<div class="container hide-on-med-and-up" style="clear: both">
											<img ng-if="request.declarable" class="right" src="images/parcels/green_box.png" width="45px" height="33px" style="right: 1px; bottom: 5px">
											<span class="chip right">
												{{request.pimg.name}}
											</span>
										</div>
									</div>
								</div>
							</div>

							<div class="collapsible-body" style="background-color: #F8F8F8; text-align: left">
								<div class="row" style="padding: 10px">
									<div class="col s8 m8">
										<span class="chip">
											<i class="material-icons">event</i>
											{{request.shipLimitDate}}
										</span>
										<span class="chip">
											<i class="material-icons">schedule</i>
											{{request.shipLimitHour}}:{{request.shipLimitTime}}
										</span>
										<div style="margin-bottom: 5px; margin-left: 5px">
											<h6>
												Sender
												<a href="#!/profile_other" ng-click="seeUser(request.sender)">{{request.sender.firstname}} {{request.sender.lastname}}</a>
											</h6>
											<h6>Dimension: {{request.size_w}} x {{request.size_l}} x {{request.size_h}} cm</h6>
											<h6>Weight: {{request.weight}} kg</h6>
											Comment: {{request.comment}}
										</div>
									</div>

									<div class="col s4 m4 right green-text" style="text-align: right">
										<h5>{{request.price}} Baht</h5>
									</div>
							</div>

						</li>

					</ul>
				</div>

				<div class="right col l6 s12">
					<div class="row">
						<div class="col s12 m12">
							<div class="card blue-grey darken-1">
								<div class="card-content white-text">
									<span class="card-title">Location</span>

									<ng-map center="{{map.center}}" zoom="{{map.zoom}}">
										<marker id="marker_f" position="{{marker_from.position}}"
										optimized="{{marker_from.optimized}}"
										icon="{{marker_from.icon}}"
										visible="{{marker_from.visible}}"></marker>

										<marker id="marker_t" position="{{marker_to.position}}"
										optimized="{{marker_to.optimized}}"
										icon="{{marker_to.icon}}"
										visible="{{marker_to.visible}}"></marker>


										<shape ng-if="trackable" name="polyline"
										path="{{ path }}"
										geodesic="true"
										stroke-color="#FF0000"
										stroke-opacity="1.0"
										stroke-weight="3">
										</shape>

									</ng-map>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
