<br>
<div class="center" style="width: 80%; margin: 0 auto;">
	<div class="card row">
		<div class="col s12">
			<ul class="tabs" id="page_tabs">
				<li class="tab col s4"><a ng-click="reRednerMap()" id="tab_findrequest" href="#findrequest">Find Request</a></li>
				<li class="tab col s4"><a ng-click="reRednerMap()" id="tab_inprogress" href="#inprogress" class="active">My Quest</a></li>
				<li class="tab col s4"><a ng-click="reRednerMap()" id="tab_history" href="#history">History</a></li>
			</ul>
		</div>
	</div>
	<div class="card" style="min-height: 300px">
		<div id="findrequest" class="row" ng-controller="FindRequestController">
			<br>
			<div class="container hide-on-med-and-down col l3">
				<form name="findRequestForm" action="#">
					<div class="input-field">
						<i class="material-icons prefix" style="color: red">location_on</i>
						<label for="fromLoc">From Location</label>
						<input type="text" id="fromLoc" ng-model="request.fromLoc" class="validate" required>
					</div>

					<div class="input-field">
						<i class="material-icons prefix" style="color: green">location_on</i>
						<label for="toLoc">To Location</label>
						<input type="text" id="toLoc" ng-model="request.toLoc" class="validate" required>
					</div>

					<div class="input-field">
						<label>Price</label><br><br>
						<div id="range-input"></div>
						<p>&nbsp;</p>
					</div>

				</form>
			</div>

			<div class="col l5 m8 s12">
				<ul class="collapsible popout" data-collapsible="accordion">

					<li style="margin: 10px 0" ng-if="false" ng-repeat="request in requests" ng-click="showInMap($index)">

						<div class="collapsible-header" style="text-align: left">
							<div class="row">

								<div class="col m3 s12 hide-on-small-and-down" style="margin: 10px 0; border-style: solid; border-color: black">
									{{request.size_length}} 
									{{request.size_width}} 
									{{request.size_height}}<br>
									{{request.weight}}<br>
								</div>

								<div class="col m9 s12">
									{{request.sender_id}}
									<h5>To : {{request.recipient_name}}</h5>

									<div class="chip">
										<i class="material-icons">event</i>
										{{request.reqLimitDate}}
									</div>
									<div class="chip">
										<i class="material-icons">schedule</i>
										{{request.reqLimitTime}}
									</div>
								</div>


							</div>
						</div>

						<div class="collapsible-body" style="background-color: #F8F8F8; text-align: left">
							<div class="row" style="padding: 10px">
								<div class="col s9">
									<div style="margin-bottom: 5px">
										<h6>Email : {{request.recipient_email}}</h6>
										<h6>Tel : {{request.recipient_tel}}</h6>
										Due in {{request.shipLimitDate}} {{request.shipLimitTime}}<br>
										{{request.comment}}
									</div>
								</div>

								<div class="col s3 right green-text" style="text-align: right"><h5>{{request.price}}</h5></div>

								<div class="col m12 s12" ng-if="request.type == 'Pending'">
									<span class="right">
										<a class="btn" style="background-color: #e51c23" ng-click="acceptRequest($index)">Accept</a>
									</span>
								</div>

							</div>
						</div>

					</li>

				</ul>
			</div>

			<div class="right col l4 m4 s12">
				<div class="row">
					<div class="col s12 m12">
						<div class="card blue-grey darken-1">
							<div class="card-content white-text">
								<span class="card-title">Location</span>
								<ng-map center="[40.74, -74.18]"></ng-map>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="inprogress" class="row" ng-controller="InProgressQuestController">
			<div class="col l6">
				<ul class="collapsible popout" data-collapsible="accordion">

					<li style="margin: 10px 0" ng-repeat="request in requests" ng-click="showInMap($index)">

						<div class="collapsible-header" style="text-align: left">
							<div class="row">

								<div class="col m3 s12 hide-on-small-and-down" style="margin: 10px 0; border-style: solid; border-color: black">
									{{request.size_length}} 
									{{request.size_width}} 
									{{request.size_height}}<br>
									{{request.weight}}<br>
								</div>

								<div class="col m9 s12">
									{{request.sender_id}}
									<h5>To : {{request.recipient_name}}</h5>

									<div class="chip">
										<i class="material-icons">event</i>
										{{request.reqLimitDate}}
									</div>
									<div class="chip">
										<i class="material-icons">schedule</i>
										{{request.reqLimitTime}}
									</div>
								</div>


							</div>
						</div>

						<div class="collapsible-body" style="background-color: #F8F8F8; text-align: left">
							<div class="row" style="padding: 10px">
								<div class="col s9">
									<div style="margin-bottom: 5px">
										<h6>Email : {{request.recipient_email}}</h6>
										<h6>Tel : {{request.recipient_tel}}</h6>
										Due in {{request.shipLimitDate}} {{request.shipLimitTime}}<br>
										{{request.comment}}
									</div>
								</div>

								<div class="col s3 right green-text" style="text-align: right"><h5>{{request.price}}</h5></div>

								<div class="col m12 s12" ng-if="request.type == 'Inprogress'">
									<span class="right">
										<a class="btn" style="background-color: #e51c23" ng-click="finishRequest($index)">Finish</a>
									</span>
								</div>

							</div>
						</div>

					</li>

				</ul>
			</div>

			<div class="right col l6">
				<div class="row">
					<div class="col s12 m12">
						<div class="card blue-grey darken-1">
							<div class="card-content white-text">
								<span class="card-title">Location</span>
								
								<ng-map center="[40.74, -74.18]"></ng-map>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		

		<div id="history" class="row" ng-controller="HistoryQuestController">
			<div class="col l6">
				<ul class="collapsible popout" data-collapsible="accordion">

					<li style="margin: 10px 0" ng-repeat="request in requests" ng-click="showInMap($index)">

						<div class="collapsible-header" style="text-align: left">
							<div class="row">

								<div class="col m3 s12 hide-on-small-and-down" style="margin: 10px 0; border-style: solid; border-color: black">
									{{request.size_length}} 
									{{request.size_width}} 
									{{request.size_height}}<br>
									{{request.weight}}<br>
								</div>

								<div class="col m9 s12">
									{{request.sender_id}}
									<h5>To : {{request.recipient_name}}</h5>

									<div class="chip">
										<i class="material-icons">event</i>
										{{request.reqLimitDate}}
									</div>
									<div class="chip">
										<i class="material-icons">schedule</i>
										{{request.reqLimitTime}}
									</div>
								</div>


							</div>
						</div>

						<div class="collapsible-body" style="background-color: #F8F8F8; text-align: left">
							<div class="row" style="padding: 10px">
								<div class="col s9">
									<div style="margin-bottom: 5px">
										<h6>Email : {{request.recipient_email}}</h6>
										<h6>Tel : {{request.recipient_tel}}</h6>
										Due in {{request.shipLimitDate}} {{request.shipLimitTime}}<br>
										{{request.comment}}
									</div>
								</div>

								<div class="col s3 right green-text" style="text-align: right"><h5>{{request.price}}</h5></div>

							</div>
						</div>

					</li>

				</ul>
			</div>

			<div class="right col l6">
				<div class="row">
					<div class="col s12 m12">
						<div class="card blue-grey darken-1">
							<div class="card-content white-text">
								<span class="card-title">Location</span>
								
								<ng-map center="[40.74, -74.18]"></ng-map>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
