<br>
<div ng-controller="MyRequestController">
	<div class="container row" style="height: 600px; width:85%">

		<div class="container hide-on-med-and-down col l2" style="min-weight: 500px">
			<div class="collection" style="border-style: none">
				<a href="#" class="collection-item" style="border-style: none; background-color: #FFE2C2"><font size="4"><b>My Request</b></font></a>
				<a href="#" class="collection-item"><font size="3" style="font-weight:normal">Pendding</font></a>
				<a href="#" class="collection-item"><font size="3" style="font-weight:normal">In Progress</font></a>
				<a href="#" class="collection-item"><font size="3" style="font-weight:normal">Finished</font></a>
				<a href="#" class="collection-item" style="background-color: #FFE2C2"><font size="4"><b>My Dashboard</b></font></a>
			</div>
		</div>

		

		<div class="right col l4 m4 s12">
			<div style="margin-bottom: 50px">
				<a href="#/NewRequest" class="btn right">New Request</a>
			</div>

			<div style="padding-bottom: 100%; background-color: #FFE2C2">

			</div>
		</div>

	</div>
</div>
