<div class="container">
	<div class="row">
		<div class="input-field col s12 m6">
			<h5>Profile</h5>
			<div class="input-field">
				<label for="firstName" class="active">First Name</label>
				<input type="text" id="firstName" ng-model="user.firstname" class="validate" required>
			</div>

			<div class="input-field">
				<label for="lastName" class="active">Last Name</label>
				<input type="text" id="lastName" ng-model="user.lastname" class="validate" required>
			</div>

			<div class="input-field">
				<label for="emailAddress" class="active">E-mail address</label>
				<input type="email" id="emailAddress" ng-model="user.email" class="validate" required>
			</div>

			<p>Leave Password be blank to not update</p>
			<div class="input-field">
				<label for="password1">Password</label>
				<input type="password" id="password1" ng-model="user.password" required>
			</div>

			<center><button type="submit" class="btn btn-default" style="background-color: #ffa338" ng-click="update()">Update</button></center>

		</div>

		<div class="input-field col s12 m6">
			<h5>Your role: {{ user.status == 1 ? "Sender and Messenger" : "Sender"}}</h5>

			<p ng-if="user.status == 0">Your can be a Messenger also, just provide us more identifying stuffs</p>
			<button ng-if="user.status == 0" class="btn cyan darken waves-effect waves-teal" ng-click="enroll()">Enroll
				<i class="material-icons right">send</i>
			</button>

			<p ng-if="user.status == -1">Please wait for admin accepting...</p>
			<button ng-if="user.status == -1" class="btn cyan darken waves-effect waves-teal" disabled>Enroll
				<i class="material-icons right">send</i>
			</button>

			<p ng-if="user.status == 1">Accept some requests?</p>
			<a href="#/findrequest" ng-if="user.status == 1" class="btn cyan darken waves-effect waves-teal">Find Request
				<i class="material-icons right">send</i>
			</a>
		</div>
	</div>


</div>
