<div class="container">
	<div class="card blue-grey darken-1">
		<div class="card-content white-text">			
			<span class="card-title">Location</span>			
			<ng-map center="{{map.center}}" zoom="{{map.zoom}}" 
				zoom-to-include-markers="{{map.zoomToIncludeMarkers}}" 
				style="height: 80vh">
				 <marker id="marker{{$index}}" ng-repeat="marker in markers" 
				position="{{marker.pos}}" icon="{{marker.icon}}"
				optimized="{{marker.optimized}}"></marker>					

				<marker id="tracker{{$index}}" ng-repeat="tracker in trackers" 
				position="{{tracker.pos}}" icon="{{tracker.icon}}"
				optimized="{{tracker.optimized}}"
				on-mouseover="showwindow(event,$index)">
				</marker>

				<info-window id='bar'>
				 <div ng-non-bindable class="black-text">
				 	<p id="tracking_date">{{date}}<br>{{time}}</p>
			     </div>			    					         
			    </info-window>

				<shape name="polyline"
				path="{{ path }}"
				geodesic="true"
				stroke-color="#0000ff"
				stroke-opacity="1.0"
				stroke-weight="5">
				</shape>			
			</ng-map>				
		</div>
	</div>
</div>
