<html>
    <head>
        <title>Rorpap</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

        <link rel="stylesheet" href="../css/materialize/css/materialize.css">
        <link rel="stylesheet" href="../css/materialize/css/ghpages-materialize.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../css/rzslider.css">

        <script src="../js/shared/angular.js"></script>
        <script src="../js/shared/angular-route.js"></script>
        <script src="../js/shared/angular-cookies.js"></script>
        <script src="../js/shared/angular-animate.js"></script>
        <script src="../js/shared/angular-simple-logger.js"></script>
        <script src="../js/shared/angular-google-maps.min.js"></script>
        <script src="../js/shared/lodash.js"></script>
        <script src="../js/shared/md5.js"></script>
        <script src="../js/shared/rzslider.js"></script>
        <script src="../js/shared/ng-file-upload-shim.js"></script>
        <script src="../js/shared/ng-file-upload.js"></script>
    </head>

    <body ng-app = "rorpap">
        <div ng-controller = "UploadFileController">
            <form name="myForm">
                <fieldset>
                    <legend>Upload on form submit</legend>
                    <br>Photo:
                    <input type="file" ngf-select ng-model="picFile" name="file"
                           accept="image/*" ngf-max-size="2MB" required
                           ngf-model-invalid="errorFiles">
                    <i ng-show="myForm.file.$error.required">*required</i><br>
                    <i ng-show="myForm.file.$error.maxSize">File too large
                        {{errorFiles[0].size / 1000000|number:1}}MB: max 2M</i>
                    <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
                    <br>
                    <button ng-disabled="!myForm.$valid"
                            ng-click="uploadPic(picFile)">Submit</button>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%"
             ng-bind="picFile.progress + '%'"></div>
      </span>
                    <span ng-show="picFile.result">Upload Successful</span>
                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                </fieldset>
                <br>
            </form>
        </div>

        <!-- Module -->
        <script src="../js/app.js"></script>

        <!-- Controller -->
        <script src="../js/controllers/UploadFileController.js"></script>
    </body>
</html>