<div id="index-banner" style="min-height: 600px; background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('images/index_banner.jpg'); background-size: cover;  background-position: center center;">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">Start a new Shipment</h1>
      <div class="row center">
        <h5 class="header col s12 light white-text">Select a destinaton for your shipping on the map</h5>
      </div>
      <div class="row center">
        <div class="card col s6 offset-s3 medium"></div>
      </div>
      <br><br>
    </div>
  </div>
</div>