<div style="padding: 20px 10px;">
	<div style="margin: 5px; height: 200px">
		<div style="margin-bottom: 10px;">
			E-mail Address
			<input class="form-control" style="width:150px; height: 20px; float: right">
		</div>
		
		<div style="margin-bottom: 10px;">
			Password
			<input class="form-control" style="width:150px; height: 20px; float: right">
		</div>

		<div class="container" style="width: 95%; margin: auto">
			<div style="float: left">
				<label class="checkbox-inline">
					<input type="checkbox"><font size="2">Remember me</font>
				</label>
			</div>
			<div style="float: right">
				<a href="#">
					<font size="2">Forget password?</font>
				</a>
			</div>
		</div>

		<div class="container" style="margin: 20px auto 10px auto; width: 40%;">
			<button type="button" class="btn btn-warning btn-md" style"background-color: #ffa338; width:100px; height:30px;">Log In</button>
		</div>

		<div class="container" style="width: 60%; margin: auto;">
			<font size="2">No account?</font>
			<a href="#">
				<font size="2">Sign Up</font>
			</a>
		</div>
	</div>
	<div class="container" style="width: 100%">
		<img src="images/login_or.png" width="100%">
	</div>
	<div style="margin: auto; width: 80%; height: 100px;">
		<br>
		<img src="images/login_facebook.png">
		<br>
		<br>
		<img src="images/login_google.png">
	</div>
</div>