<!doctype html>
<html>
	<head>

		<title>Index</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

		<link rel="stylesheet" href="css/bootstrap-3.3.6-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/materialize/css/materialize.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<script src="js/shared/angular.js"></script>
		<script src="js/shared/angular-route.js"></script>
		<script src="js/shared/angular-animate.js"></script>
		<script src="js/shared/ui-bootstrap-tpls-1.0.3.min.js"></script>

	</head>

	<body ng-app="rorpap">
		<nav role="navigation" style="height: 75px; background-color: #fcfcfc;">
			<div class="row" style="padding: 5px 5px;" ng-controller="HeaderController">
				<a href="#/">
					<img src="images/Banner-Logo-OR.png" height="65" widht="195">
				</a>
				<ul class="right hide-on-med-and-down" style="background-image: url('images/menu-bg.jpg'); background-size:100% 100%;">
					<li ng-repeat="menu in menus | orderBy: orderBy" ng-if="!menu.depLog  || menu.reqLog == logIned" class="col-sm-2" style="background-color: #fcfcfc; width: 130px; height: 65px; line-height: 65px; margin: 0 2px 0 0; padding: 0 0;">
						<a style="text-decoration: none" href="{{ menu.link }}" ng-click="menu.modal()">
							<font size="{{ menu.fontSize }}" color="#ffa337"><center><b>{{ menu.name }}</b></center></font>
						</a>
					</li>	
				</ul>

				<ul id="nav-mobile" class="side-nav">
        			<li ng-repeat="menu in menus | orderBy: orderBy" ng-if="!menu.depLog  || menu.reqLog == logIned" style="background-color: #fcfcfc">
						<a style="text-decoration: none" href="{{ menu.link }}" ng-click="menu.modal()">
							<font size="{{ menu.fontSize }}" color="#ffa337"><center><b>{{ menu.name }}</b></center></font>
						</a>
					</li>	
      			</ul>
      			<a href="#" style="text-decoration: none" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		   	
			</div>
		</nav>

		<br>
		<div ng-view>
		</div>
		<br>

		<div class="container" style="width: 100%; height: 300px; background-color: #6d6d6d; padding: 10px">
			<div class="row" ng-controller="FooterController">
				<div class="col-sm-2" style="width: 200px; float: right; color: white" ng-repeat="column in columns">
					<font size="6"><b>{{ column.title }}<b></font>
					<br>
					<br>
					<div ng-repeat="line in column.lines">
						<font size="4">{{ line.topic }}</font>
					</div>
				</div>
			</div>
		</div>

		<!-- Modules -->
	    <script src="js/app.js"></script>

	    <!-- Controllers -->
	    <script src="js/controllers/HeaderController.js"></script>
	    <script src="js/controllers/FooterController.js"></script>
	    <script src="js/controllers/HomeController.js"></script>
	    <script src="js/controllers/AboutController.js"></script>
	    <script src="js/controllers/LogInController.js"></script>

	    <!--  Scripts-->
	  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	  <script src="css/materialize/js/materialize.js"></script>
	  <script>
	  	(function($){
  			$(function(){

		    $('.button-collapse').sideNav();
		    $('.parallax').parallax();

		  }); // end of document ready
		})(jQuery); // end of jQuery name space
	  </script>
	</body>
</html>
